<%- include ('partials/header.ejs')%>

<body>
    <%- include ('partials/navbar.ejs')%>

    <div class="title-index">
        <h1 id="title-text">Make your question or answer someone's</h1>
    </div>


    <div class="container">

        <a id="question-button"href="/perguntar" class=" btn btn-success">Ask</a>
        <br>

        <% perguntas.forEach(pergunta => {%>

        

        <div class = "card"   >

            <div class="card-body">

                <a href="/pergunta/<%=pergunta.id%>"><h1 id="subtitle-text"><%=pergunta.title%></h1></a>

            </div>

            <div class="card-footer">
                <a href="/pergunta/<%=pergunta.id%>" class="btn btn-primary">Answer</a>
            </div>
           
        </div>
        <br>
        <% })%>
           
    </div>
    
    


</body>

<%- include ('partials/footer.ejs')%>