<%- include ('partials/header.ejs') %>

<body>
    
<%- include ('partials/navbar.ejs')%>

    <div class="container">

        <h1>Responder:</h1>
        <br>

        <div class="card">
            <div class="card-header">
                
                <h2><%= pergunta.title %></h2>
            </div>
            <div class="card-body">
                <h5><%= pergunta.description %></h5>
            </div>
  
            <div class="card-footer">
                
                <form action="/responder" method="post">
                
                <label for="answer-field">Resposta:</label>
                <textarea class= "form-control"name="answer" id="answer-field" cols="30" rows="3"></textarea>
                    <button type="submit" class="btn btn-success">Responder</button>
                    <input type="hidden" name="pergunta" value="<%= pergunta.id%>">
            </form>
            </div>
            <hr>
        <h3>Respostas</h3>
        <hr> 
        <% resposta.forEach(resposta =>{ %>
            
            <div class="card">
                <div class="card-body">
                     <p><%=resposta.corpo %></p>
                </div>
            </div>
            
            

            <br>
        <% }) %>
            
            
   

        </div>
        
    </div>



</body>

<%- include ('partials/footer.ejs') %>



